/* Basic CSS styles */
.skeleton {
    background-color: #ddd;
    margin:10px 0px;
    border-radius: 6px;
}
.skeleton.text {
    width: 80%;
    height: 20px;
    margin-left: 10px;
}
.skeleton.title{
    width: 50%;
    height: 30px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.skeleton.image{
    margin: 10px auto;
    width: 440px;
    height: 281px;
    border-radius: 10px;
}

.ft-recipe-skeleton{
    position: relative;
    width: 460px;
    height: 554px;
    margin: 50px;
    border-radius: 15px;
    border:6px solid white;
      background: var(--white);
      display: flex;
      flex-direction: column;
       box-shadow: 0 0 108px 0 rgba(255, 255, 255, 0.055); 
      overflow: hidden;
      animation: fadeIn 0.6s;
}

.ft-recipe-skeleton::before {
    position:absolute;
    content: '';
    height: 554px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    transform: skew(-30deg) translateX(-150%);
    box-shadow: 0 0 80px 30px rgb(255, 255, 255);
    animation: animate 1s linear infinite;
    overflow: hidden;
    opacity: 60%;

}

@keyframes animate {
    100%{
        transform: skew(-30deg) translateX(600px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
